<!DOCTYPE html>
<html>

<head>
    <title>Alert Prod Service</title>
</head>

<body>

    <style>
        .navbar-items{
            float: left;
        }
        li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
        #navbar{
            background-color: black;
            list-style-type: none;
            margin: 0;
         padding: 0;
        overflow: hidden;
        }
    </style>
    
    <ul id="navbar">
        <li class="navbar-items"><a href="#">Home</a>
        </li>
    </ul>

</body>
    
</html>
